header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vh;
    border: 1px solid var(--border-color);
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2px;
    gap: 3rem;
    margin-left: 10px;

  }
  
  .header-list {
    height: 100%;
    list-style: none;
    display: flex;
    gap: 0px; 
    padding: 0;
    margin: 0;
    align-items: center;
  }
  
  .link {
    height: 100%;
    border-left: 1px solid var(--border-color); 
    border-right: 1px solid var(--border-color); 
  }

  .link.active {
    border-top: 2px solid var(--text-header-color-hover);
    border-bottom: 1px solid var(--background-color); 
  }

  .link.active li {
    font-weight: bold; 
    color: var(--text-header-color-hover);
  }

  .item-header-list {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Fira Code', monospace; 
    font-size: 1.2rem;
    padding: 0 20px;
    color: var(--text-color-secondary); 
  }
  
  .item-header-list:hover {
    color: var(--text-header-color-hover); 
    cursor: pointer;
    border-top: 2px solid var(--text-header-color-hover); 
  }
  
  .language-selector {
    color: var(--text-color-primary);
    margin-right: 10px;
  }
  
  label {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  select {
    border: none;
    border-radius: 10%;
    background-color: var(--background-color);
    color: var(--text-color-primary);
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
  }
  
  select:focus {
    outline: none;
    color: #ffffff;
  }
  