@import url('../../variables.css');

.content-aboutMe {
  display: flex;
  height: 100%;
  width: 100vw;
}

.sidebar-aboutme {
  width: 16rem;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto; /* Para lidar com conteúdo que ultrapassa a altura */
  box-sizing: border-box;
}

.sidebar-aboutme h2 {
  color: var(--text-color-primary);
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.contacts h2 {
  color: var(--text-color-primary);
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.personal-info {
  width: 100%;
}

.personal-info-list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px  0 0 15px;
  gap: 0;
  margin: 0;
}

.personal-info-list li {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: flex-start;
  color: var(--text-color-secondary);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.personal-info-list li span {
  margin-left: 8px;
}

.personal-info-list li:hover {
  color: var(--primary-color);
  border-bottom: none;
}

.personal-info-list li.selected {
  color: var(--text-color-primary);
  font-weight: bold;
}

.education-list-item.selected {
  color: var(--text-color-primary);
  font-weight: bold;
}

.education {
  list-style: none;
  padding-left: 20px; 
  display: flex;
  flex-direction: column; 
}

.education-folder {
  display: flex;
  align-items: center;
}

.education-list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 0 0 15px;
  gap: 0;
}

.education-list-item {
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
}

.contacts p {
  font-size: 14px;
  color: var(--text-color-secondary);
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.contacts p svg {
  margin-right: 10px;
}

.contacts p:hover {
  color: var(--primary-color);
}

.code-container {
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  overflow: auto;
  display: flex;
}

.code-content {
  display: flex;
}

.line-numbers {
  color: var(--text-color-secondary);
  text-align: right;
  padding: 10px 5px;
  user-select: none;
}

.line-number {
  line-height: 1.5em;
}

.code-display {
  padding-left: 10px;
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap; 
  font-size: 14px;
  line-height: 1.6; 
  color: var(--primary-color-comment);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  border-left: 1px solid var(--border-color);
}

.code-snippet {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.code-snippet h2 {
  color: #FFB86C;
  font-size: 16px;
  margin-bottom: 10px;
}

.snippet {
  background-color: #1B1C26;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #F8F8F2;
}

.snippet p {
  color: #BD93F9;
  margin: 0 0 10px;
}

.snippet pre {
  background-color: #282A36;
  padding: 15px;
  border-radius: 8px;
  color: #F8F8F2;
  overflow-x: auto;
}
